/*background color and image*/
body {background-color: #f6f0e9;}
/* div.background{ background-image: URL('background_home.jpg');
background-repeat: no-repeat; display: block; background-size: 100%; background-position-y: center;} */

/*menu styling*/
div.menu{ background-color: #fcfcfc; display: table; /* keep the background color wrapped tight */
  margin: 10px auto 10px auto; /* keep the table centered */
  padding:50px;}

/*font styling*/
h1 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center; padding-top: 20px; padding-bottom: 25px; border-bottom: 1px solid #9f8462}
h2 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center;}
h3 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center;}
h4 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center; padding-top: 50px; padding-bottom: 50px; font-size: 50px;}
h5 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center; padding-top: 15px; padding-bottom: 150px; font-size: 25px;}
a {color: #f6f0e9; font-family:Helvetica, sans-serif; text-align:center;  font-size: 18px; font-weight: bold;}

/*logo styling*/
.logo {max-width:10%; height:auto; padding: 10px;}

/*tab bar styling*/
ul.nav a{text-decoration:none; color: #659e66; font-size: 25px; padding-top: 5px}
ul.nav a:hover {border-bottom: 1px solid #659e66}
ul.nav{list-style-type:none; position: relative; float:right;}
ul.nav li {display: inline-block; padding: 0 50px}
@media (max-width: 1150px)
{
    ul.nav li {padding: 0 10px}
}

@media (max-width: 700px)
{
    ul.nav li {padding: 0 10px}
    ul.nav a {font-size: 18;}
    h1 {font-size: 24px;}
    h2 {font-size: 20px;}
    h3 {font-size: 18;}
    h4 {font-size: 30;}
    h5 {font-size: 18;}
}

/*footer fixed page element*/
.footer { position: fixed; left: 0; bottom: 0; width: 100%; background-color: #659e66; padding-top: 20px; padding-bottom: 20px; text-align: center;}