
h1 {color : #d8b386; font-family:georgia,times}
p {font-size: 16x; line-height: 1.4;}
p.center {font-size:16pt; text-align:center}
a{font-family:times; font-size:16pt; color: #d8b386; text-decoration: none}
a:hover{color: #ffffff}
