/*background color and image*/
body {background-color: #f6f0e9;}
 div.background{ background-color: #2d2d2d;
background-repeat: no-repeat; display: block; background-size: 100%; background-position-y: top;} */

/*menu styling*/
div.menu{ background-color: #2d2d2d; display: table; /* keep the background color wrapped tight */
  margin: 10px auto 10px auto; /* keep the table centered */
  padding:50px;}

/*font styling*/
h1 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center; padding-top: 20px; padding-bottom: 25px; border-bottom: 1px solid #74c074}
h2 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center;}
h3 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center;}
h4 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center; padding-top: 50px; padding-bottom: 50px; font-size: 50px;}
h5 {color : #74c074; font-family:Helvetica, sans-serif; text-align:center; padding-top: 15px; padding-bottom: 150px; font-size: 25px;}
h6 {color : #f6f0e9; font-family:Helvetica, sans-serif; text-align:left; padding-top: 10px; padding-bottom: 150px; font-size: 25px;}

a {color: #f6f0e9; font-family:Helvetica, sans-serif; text-align:center;  font-size: 18px; font-weight: bold;}


/* logo + title */
.logo-title {
  display: inline-flex;
  align-items: center;
}

/*logo styling*/
.logo {height:50px; padding: 10px;}

/* title styling */
.title-txt {
  font-size: 25px;
  color: #f6f0e9;
  font-family:Helvetica, sans-serif;
}

ul.nav {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
}

/*tab bar styling*/
ul.nav a{text-decoration:none; color: #f6f0e9; font-size: 25px; padding-top: 10px; }
ul.nav a:hover {color: #74c074;}
ul.nav{list-style-type:none;}
ul.nav li {display: inline-block; padding: 0 50px}


@media (max-width: 1150px)
{
    ul.nav li {padding: 0 10px}
}

@media (max-width: 700px)
{
    ul.nav li {padding: 0 10px}
    ul.nav a {font-size: 18;}
    h1 {font-size: 24px;}
    h2 {font-size: 20px;}
    h3 {font-size: 18;}
    h4 {font-size: 30;}
    h5 {font-size: 18;}
}

/*footer fixed page element*/
.footer { position: fixed; left: 0; bottom: 0; width: 100%; background-color: #5b8d5b; padding-top: 20px; padding-bottom: 20px; text-align: center;}

/* button things */
.btn {
  font-family: inherit;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/*  */
.filters {
  color: #74c074;
}

.filters:hover {
  background-color: #74c074;
  color: white;
}
